doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
         h1 #{title}
   div.profile
     div.lego-image(style=`background: url('/images/${lego.imgSrc}') top center no-repeat; background-size: cover;`)
     div.lego-details
       h1.lego-name
         | #{lego.Nome} 
       h2.profile-Età
         | #{lego.Età}
       a.button.button-linkIstruzioni(href=`${lego.LinkIstruzioni}`)
         | Istruzioni
